# Included in oos_mirror_allinone script

# Общие параметры
DOWNLOAD_DAYS_NEWER=1		# За какое количество последних дней загружать файлы
LOG_DIR='/tmp/oos_mirror/logs'
CONFIG_TEMP_DIR='/tmp'

# 223 ФЗ
DO_FZ223='yes'
FZ223_LEGACY_DIRS='yes'	# Создавать ли подпапки daily
FZ223_BASE_URL='ftp://fz223free:fz223free@ftp.zakupki.gov.ru/out/published'
FZ223_RESULT_DIR='/tmp/oos_mirror/oos_fz223'
FZ223_REGIONS='Bashkortostan_Resp'
FZ223_FOLDERS='explanation purchaseNotice purchaseNoticeAE purchaseNoticeEP purchaseNoticeIS purchaseNoticeOA purchaseNoticeOK purchaseNoticeZK purchaseProtocol purchaseProtocolIP purchaseProtocolOSZ purchaseProtocolPA_AE purchaseProtocolPA_OA purchaseProtocolRKZ purchaseProtocolRZ_AE purchaseProtocolRZ_OA purchaseProtocolRZ_OK purchaseProtocolVK purchaseRejection'

# 94 ФЗ
DO_FZ94='no'
FZ94_RESULT_DIR='/tmp/oos_mirror/oos_fz94'
FZ94_BASE_URL='ftp://free:free@ftp.zakupki.gov.ru/94fz'
FZ94_REGIONS='Bashkortostan_Resp'
#FZ94_SUBDIRS='plangraphs purchasedocs'

# 44 ФЗ
DO_FZ44='no'
FZ44_RESULT_DIR='/tmp/oos_mirror/oos_fz44'
FZ44_BASE_URL='ftp://free:free@ftp.zakupki.gov.ru/fcs_regions'
FZ44_REGIONS='Bashkortostan_Resp'
#FZ44_SUBDIRS='plangraphs purchasedocs'

# Нормативно-справочная информация
DO_NSI='no'
NSI_LEGACY_DIRS='yes'	# Создавать ли подпапки daily
NSI_RESULT_DIR='/tmp/oos_mirror/oos_nsi'
NSI_BASE_URL='ftp://fz223free:fz223free@ftp.zakupki.gov.ru/out/nsi'
NSI_FOLDERS='nsiPurchaseMethod nsiProtocol'
